<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myzd.mapper.AuthMapper">

   <!-- redis作为二级缓存 缓存策略为LRU 刷新时间为60秒-->
    <cache eviction="LRU" flushInterval="60000" type="org.mybatis.caches.redis.RedisCache"/>

    <select id="getAuthorizaion" resultType="java.lang.String" statementType="STATEMENT">
        select p.name from ${permissionsTable} as p
        where p.id in (
            select permission_id from ${permissionUserTable}
            where user_id = (
                select id from ${usersTable} where name = '${username}'
            )
        )
    </select>
</mapper>